@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Cinza bem claro, calmo */
  font-family: sans-serif;
}

@layer components {
  .label-form {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
  .input-form {
    @apply w-full border border-gray-300 rounded-lg p-3 outline-none focus:ring-2 focus:ring-hospital-blue transition-all;
  }
  .btn-primary {
    @apply bg-hospital-blue text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-700 transition-colors shadow-sm;
  }
}